<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
  </div>
  <div class="large-9 columns">
    <h2 id="header">Photograph Studio <small>with amazing pics</small></h2>
  </div>
</div>
<div class="row">
  <div class="large-9 push-3 columns">
    <ul class="example-orbit" data-orbit data-options="animation:slide;
                                                       pause_on_hover:true;
                                                       animation_speed:500;
                                                       navigation_arrows:true;
                                                       bullets:true;">
      <li>
        <%= image_tag("1.jpg", alt: "slide 1") %>
        <div class="orbit-caption">Steins Gate.</div>
      </li>
      <li class-"active">
        <%= image_tag("2.jpg", alt: "slide 2") %>
        <div class="orbit-caption">Colourful picture.</div>
      </li>
      <li>
        <%= image_tag("3.jpg", alt: "slide 3") %>
        <div class="orbit-caption">Great bottles with fantastic paint.</div>
      </li>
      <li>
        <%= image_tag("4.jpg", alt: "slide 3") %>
        <div class="orbit-caption">This picture is strange, I don't know what it is.</div>
      </li>
      <li>
        <%= image_tag("12.jpg", alt: "slide 3") %>
        <div class="orbit-caption">Wow! This is a blood elf Palading holding the legend sword!</div>
      </li>
      <li>
        <%= image_tag("13.jpg", alt: "slide 3") %>
        <div class="orbit-caption">This one is a dark angle.</div>
      </li>
    </ul>
  </div>
  <div class="large-3 pull-9 columns">
    <ul class="custom-side-nav">
      <li><a href="#">Section 1</a></li>
      <li><a href="#">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
      <li class="divider"></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>
<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Photograph Studio, 2014</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
