<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="large-1 columns">
      <%= f.label :name, :class => "right inline" %>
    </div>
    <div class="large-10 columns">
      <%= f.text_field :name %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-1 columns">
      <%= f.label :email, :class => "right inline" %>
    </div>
    <div class="large-10 columns">
      <%= f.text_field :email %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-1 columns">
      <%= f.label :phone, :class => "right inline" %>
    </div>
    <div class="large-10 columns">
      <%= f.text_field :phone %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-1 columns">
      <%= f.label :content, :class => "right inline" %>
    </div>
    <div class="large-10 columns">
      <%= f.text_area :content %>
    </div>
  </div>
  <br><br>
  <div class="actions text-center">
    <%= f.submit :class => "button success small" %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back', root_path, :class => "button small secondary" %>
  </div>
<% end %>
