<% if sign_in? %>
<h3>Authors
</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.info %></td>
        <td class="btn-tb"><%= link_to 'Edit', edit_author_path(author), :class => "button tiny custom-btn" %></td>
        <td class="btn-tb"><%= link_to 'Delete', author, :class => "button tiny alert custom-btn", method: :delete, data: { confirm: 'Are you sure to delete this author?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% else %>
<%= render file 'sessions/new.html.erb' %>
<% end %>
