<div class="large-10 push-2 columns pic-slide">
  <ul class="example-orbit" data-orbit data-options="animation:fade;
    pause_on_hover:false;
    animation_speed:400;
    navigation_arrows:false;
    bullets:true;
    slide_number:false;">
    <% @pictures.each do |pic| %>
    <li>
      <%= image_tag(pic.photo_url, alt: pic.name) %>
      <div class="orbit-caption">
        <div class="row">
          <div class="large-7 columns">
            <%= pic.name %>
          </div>
          <div class="large-2 columns">
            by&nbsp;<%= pic.author.name %>
          </div>
          <div class="large-1 columns">
            <a class="btn">More</a>
          </div>
        </div>
        <div class="row pic-info">
          <div class="large-6 columns">
            <p><%= pic.description %></p>
          </div>
          <div class="large-3 columns">
            <p><%= pic.author.info %></p>
          </div>
          <div class="large-1 columns">
            &nbsp;
          </div>
        </div>

      </div>
    </li>
    <% end %>
  </ul>
</div>
