<div class="large-9 push-3 columns pic-slide">
  <ul class="example-orbit" data-orbit data-options="animation:fade;
    pause_on_hover:false;
    animation_speed:500;
    navigation_arrows:false;
    bullets:false;
    slide_number:false;">
    <% @pictures.each do |pic| %>
    <li>
      <%= image_tag(pic.photo_url, alt: pic.name) %>
      <div class="orbit-caption">
        <h3><%= pic.name %>
          <small>
            &nbsp;&nbsp;
            made by <%= pic.author %>
            &nbsp;&nbsp;
            <%= pic.description %>
            <%= link_to "More Info", picture_path(pic), :class => "button tiny right" %>
          </small>
        </h3>
      </div>
    </li>
    <% end %>
  </ul>
</div>
