<% if sign_in? %>
<div class="admin-index">
  <%= render "static_pages/side" %>
  <div class="large-9 columns">
    <h3>Pictures</h3>
    <table>
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Author</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @pictures.each do |pic| %>
        <tr>
          <td><%= image_tag(pic.photo.thumb.url, :class => "th" ) if pic.photo.present? %></td>
          <td><%= pic.name %></td>
          <td><%= pic.author %></td>
          <td class="btn-tb"><%= link_to 'Edit', edit_picture_path(pic), :class => "button tiny custom-btn" %></td>
          <td class="btn-tb"><%= link_to 'Delete', pic, :class => "button tiny alert custom-btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<footer>
  <hr>
  <p class="footer-info">A Vision Admin Center</p>
</footer>
<% else %>
<%= render file 'sessions/new.html.erb' %>
<% end %>
