<div class="large-9 push-3 columns page-info">
    <h3>
      <%= @picture.name %>
      <small>
        &nbsp;&nbsp;
        made by <%= @picture.author.name %>
    </h3>
    <p>
      <strong>Author info:</strong>
      <%= @picture.author.info %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @picture.category_id %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @picture.description %>
    </p>
    <p>
      <%= image_tag(@picture.photo_url(:thumb) ) if @picture.photo.present? %>
    </p>

</div>
