<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Gallary" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
    <p class="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <div class="row">
      <%= yield %>
      <div class="large-2 pull-10 columns sidebar">
        <%= link_to image_tag("logo3.png", :class => "logo ie"), root_path, :class => "logo" %>
        <li><br></li>
        <%= render "categories/categories.html.erb" %>
        <ul class="custom-side-nav info">
          <li>&nbsp;</li>
          <li><%= link_to "CONTACT US", contact_path, :class => "right" %></li>
          <li><%= link_to "ABOUT", about_path, :class => "right" %></li>
        </ul>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <footer></footer>
  </body>
</html>
